@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* input:-webkit-autofill 파란색 자동완성 배경 제거 */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #000;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer components {
  /* number타입 input 스피너 제거하는 custom class */
  .number-spinner-hide {
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }
}
